.navbar-img{
    width: 2em;
    height: 2em;
    padding: .5em 0 ;
}
.navbar-logo{
    width: 10em;
    height: 3em;
    padding: .5em 0 ;
}


//****************Categorias*****************

.categorias-img{
    width: 4em;
    height: 4em;
}

.despegar-img{
    width: 1em;
    height: 1em;
}


//****************seccion1*****************
// .img-receta{
//     width: 200px;
//     height: 150px;
//     object-fit: cover;
// }
