.navbar-img{
    width: 2em;
    height: 2em;
    padding: .5em 0 ;
}
.navbar-logo{
    width: 5em;
    height: 4em;
    padding: 0 ;
}


//****************Categorias*****************

.categorias-img{
    width: 4em;
    height: 4em;
}

.despegar-img{
    width: 1em;
    height: 1em;
}


//****************seccion1*****************
.img-receta{
    height: 150px;
    width: 200px;
    object-fit: cover;
}


//****************footer*****************
.img-footer{
    width: 40px;
    height: 40px;
    padding: 1em 1.3em 0 1.3em;
}


//****************loggear*****************
.img-loggear{
    width: 20em;
    height: 15em;
    padding: 1em 1.3em 0 1.3em;
}


//****************recetas*****************
.imgreceta{
    width: 20em;
    height: 15em;
    padding: 1em 1.3em 0 1.3em;
}

.imgmismacros{
    width: 5em;
    height: 5em;
    padding: 1em 1.3em 0 1.3em;
}

.informacion-nutrimental{
    width: 20em;
    height: 20em;
    
}
.imgrecetamultimedia{
    width: 20px;
    height: 20px;
}

.imginfnutrec{
    width: 2em;
    height: 2em;
}


//****************mi perfil*****************
.imgmiperfil{
    width: 10em;
    height: 10em;
}