$main-bg-color: white;
$bg-color-footer: rgb(168, 30, 25);

/**************************VARIABLES PARA EL NAVBAR******************************/
$main-nav-color: rgb(168, 30, 25);

$btn-registrar-color: rgb(168, 30, 25);
$btn-loggin-color: rgb(168, 30, 25);

$hover-btn-loggin: rgb(199, 39, 11);
$hover-btn-loggin-letras:whitesmoke;

$hover-btn-registro: rgb(199, 39, 11);
$hover-btn-registro-letras:whitesmoke;

$hover-menu: grey;



/**************************VARIABLES PARA EL CATEGORIAS******************************/

$main-categorias-color: blue;
$main-categoria1-color: rgb(241, 224, 224);
$main-categoria2-color: grey;


$hover-receta: rgb(255, 255, 251, .6);

