@import '_variables';
@import '_img-sizes';

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    background-color: $main-bg-color;

}

//************************NAVBAR**************************//
@import 'navbar';


//**************************CONTAINER BODY*****************************//
.containerbody{
    margin-top: 8em;
}


//**************************SECCION-HOME*****************************//
.home-seccion{
    height: 30em;
    background-color: $main-categoria1-color;
}
.titulos-home{
    padding: 1em 0 2em 0;
    text-align: center;
    font-family: cursive;
}

//**************************CAROUSEL*****************************//
.tusrecomendacionescarousel{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff,
                0 5px 20px;
    position: relative;
}
.slider{
    height: 200px;
    width: 150%;
    display: flex;
    margin-left: -25%;
}

.flechasCarousel{
    position: absolute;
    width: 2em;
    height: 2em;
    background: rgba(255,255,255, .70);
    top: 50%;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    &:hover{
        background-color: #fff;
    }
}
.flechaIzquierda{
    left: 1em;
}
.flechaDerecha{
    right: 1em;
}


//**************************SECCION-HOME*****************************//

.seccion{
    display: flex;
    justify-content: space-around;
}

.receta-ficha{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    figure{
        position: relative;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.50);
        cursor: pointer;
        height: 150px;
        width: 200px;
        img{
            transition: all 500ms ease-out;
        }
        .hoverreceta{
            position: absolute;
            bottom: 0;
            background-color: $hover-receta;
            width: 100%;
            height: 40%;
            transition: all 500ms ease-out;
            opacity: 0;
            visibility: hidden;
            text-align: center;
            display: flex;
            justify-content: space-around;
            .hovertiempo{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-right: 1px solid $nav-menu-hover-border

            }
            .hoverdificultad{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .hoverprecio{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        } 
    } figure.imgreceta-ficha:hover > .hoverreceta{
        opacity: 1;
        visibility: visible;
    }
}


//**************************CATEGORIAS*****************************//
.home-categorias{
    display: flex;
    width: 100%;
    height: 6em;
    justify-content: space-around;
    align-items: center;
}

.categorias{
    display: flex;
    flex-direction: column;
    font-family:Verdana;
    align-items: center;
    cursor: pointer;
}



//**************************FOOTER*****************************//
@import 'footer';



//**************************LOGGIN*****************************//
@import 'loggin';



//**************************RECETA*****************************//
@import 'receta';



//**************************MIPERFIL*****************************//
@import 'miperfil';


//**************************LOGGIN*****************************//
@import 'loggin';
