@import '_variables';
@import '_img-sizes';

*{
    padding: 0;
    margin: 0;
    border: 0;
}
html{
    background-color: $main-bg-color;

}

//************************NAVBAR**************************//
@import 'navbar';


//**************************CONTAINER BODY*****************************//
.containerbody{
    margin-top: 8em;
}


//**************************SECCION-HOME*****************************//
.home-seccion{
    height: 30em;
    background-color: $main-categoria1-color;
    h1{
        padding: 1em 0 2em 0;
        text-align: center;
        font-family: cursive;
    }
}

//**************************CATEGORIAS*****************************//
.home-categorias{
    display: flex;
    width: 100%;
    height: 6em;
    justify-content: space-around;
    align-items: center;
}

.categorias{
    display: flex;
    flex-direction: column;
    font-family:Verdana;
    align-items: center;
}

//**************************SECCION-HOME*****************************//

.seccion{
    display: flex;
    justify-content: space-around;
}

.receta-ficha{
    display: flex;
    figure{
        position: relative;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.50);
        cursor: pointer;
        img{
            transition: all 500ms ease-out;
        }
        .hoverreceta{
            position: absolute;
            bottom: 0;
            background-color: $hover-receta;
            width: 100%;
            height: 40%;
            transition: all 500ms ease-out;
            opacity: 0;
            visibility: hidden;
            text-align: center;
        } 
    } figure.imgreceta-ficha:hover > .hoverreceta{
        opacity: 1;
        visibility: visible;
    }
}






//**************************FOOTER*****************************//
@import 'footer';



//**************************LOGGIN*****************************//
.loggin{
    margin: 1em 0 2em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.formulario-logear{
    display: flex;
    flex-direction: column;
    align-items: center;
}



//**************************RECETA*****************************//
@import 'receta';



//**************************MIPERFIL*****************************//
@import 'miperfil'