/**************************VARIABLES PARA EL NAVBAR******************************/
/**************************VARIABLES PARA EL CATEGORIAS******************************/
.navbar-img {
  width: 2em;
  height: 2em;
  padding: 0.5em 0;
}

.navbar-logo {
  width: 10em;
  height: 3em;
  padding: 0.5em 0;
}

.categorias-img {
  width: 4em;
  height: 4em;
}

.despegar-img {
  width: 1em;
  height: 1em;
}

.img-receta {
  height: 150px;
  width: 200px;
  object-fit: cover;
}

.img-footer {
  width: 40px;
  height: 40px;
  padding: 1em 1.3em 0 1.3em;
}

.img-loggear {
  width: 20em;
  height: 10em;
  padding: 1em 1.3em 0 1.3em;
}

.imgreceta {
  width: 30em;
  height: 20em;
  padding: 1em 1.3em 0 1.3em;
}

.macronutrientes {
  width: 5em;
  height: 5em;
  padding: 1em 1.3em 0 1.3em;
}

.informacion-nutrimental {
  width: 20em;
  height: 20em;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  background-color: white;
}

nav {
  background-color: #a81e19;
  display: grid;
  z-index: 2;
  border: 0;
  width: 100%;
  grid-template-columns: 1fr repeat(3, 1fr) 1fr;
}

.nav-ps {
  display: flex;
}
.nav-ps .menu-burger {
  padding: 1em 1em;
  display: flex;
}
.nav-ps .menu-burger figure.imgmenu {
  position: relative;
  cursor: pointer;
}
.nav-ps .menu-burger figure.imgmenu img {
  transition: all 500ms ease-out;
}
.nav-ps .menu-burger figure.imgmenu .hovermenu {
  position: absolute;
  bottom: 0;
  background-color: grey;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: visible;
  text-align: center;
}
.nav-ps .menu-burger figure.imgmenu:hover > .hovermenu {
  opacity: 1;
  visibility: visible;
}
.nav-ps .menu-logo {
  margin: 1em 1em;
}

.nav-ss {
  grid-column: 5/2;
  display: flex;
  justify-content: flex-end;
}
.nav-ss img {
  margin: 1em 0.5em;
}
.nav-ss #buscador {
  border-radius: 5%;
  margin: 1em 0;
  width: 100%;
}

.nav-ts {
  grid-column: 5/6;
  display: flex;
  justify-content: flex-end;
}
.nav-ts .registrarse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 1em;
}
.nav-ts .registrarse #btn-registro {
  background-color: #a81e19;
  border-color: #a81e19;
  border-radius: 10%;
  padding: 1em 1em;
}
.nav-ts .registrarse #btn-registro:hover {
  background-color: #c7270b;
  color: whitesmoke;
  transition: all 0.3s ease-out;
}
.nav-ts .iniciar-sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 1em;
  transition: all 0.1s ease-out;
}
.nav-ts .iniciar-sesion #btn-loggin {
  background-color: #a81e19;
  border-color: #a81e19;
  border-radius: 10%;
  padding: 1em 1em;
}
.nav-ts .iniciar-sesion #btn-loggin:hover {
  background-color: #c7270b;
  color: whitesmoke;
  transition: all 0.3s ease-out;
}

.home-categorias {
  display: flex;
  width: 100%;
  height: 6em;
  justify-content: space-around;
  align-items: center;
}

.categorias {
  display: flex;
  flex-direction: column;
  font-family: Verdana;
  align-items: center;
}

.home-seccion {
  height: 30em;
  background-color: #f1e0e0;
}
.home-seccion h1 {
  padding: 1em 0 2em 0;
  text-align: center;
  font-family: cursive;
}

.seccion {
  display: flex;
  justify-content: space-around;
}

.receta-ficha {
  display: flex;
}
.receta-ficha figure {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.receta-ficha figure img {
  transition: all 500ms ease-out;
}
.receta-ficha figure .hoverreceta {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 251, 0.6);
  width: 100%;
  height: 40%;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.receta-ficha figure.imgreceta-ficha:hover > .hoverreceta {
  opacity: 1;
  visibility: visible;
}

footer {
  width: 100%;
  height: 20em;
  background-color: #a81e19;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redessociales {
  display: flex;
  justify-content: space-around;
  margin: 1em 4em;
}

.loggin {
  margin: 1em 0 2em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.formulario-logear {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receta {
  display: flex;
  flex-direction: column;
}

.recetaintro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredientes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preparacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recetamultimedia {
  display: flex;
  flex-direction: column;
}

.recetanombre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informacion-nutrimental {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

/*# sourceMappingURL=styles.css.map */
