/**************************VARIABLES PARA EL NAVBAR******************************/
/**************************VARIABLES PARA EL CATEGORIAS******************************/
/**************************VARIABLES PAGINA RECETA******************************/
/**************************VARIABLES LOGGIN******************************/
.navbar-img {
  width: 2em;
  height: 2em;
  padding: 0.5em 0;
}

.navbar-logo {
  width: 5em;
  height: 4em;
  padding: 0;
}

.categorias-img {
  width: 4em;
  height: 4em;
}

.despegar-img {
  width: 1em;
  height: 1em;
}

.img-receta {
  height: 150px;
  width: 200px;
  object-fit: cover;
}

.img-footer {
  width: 40px;
  height: 40px;
  padding: 1em 1.3em 0 1.3em;
}

.img-loggear {
  width: 20em;
  height: 15em;
  padding: 1em 1.3em 0 1.3em;
}

.imgreceta {
  width: 20em;
  height: 15em;
  padding: 1em 1.3em 0 1.3em;
}

.imgmismacros {
  width: 5em;
  height: 5em;
  padding: 1em 1.3em 0 1.3em;
}

.informacion-nutrimental {
  width: 20em;
  height: 20em;
}

.imgrecetamultimedia {
  width: 20px;
  height: 20px;
}

.imginfnutrec {
  width: 2em;
  height: 2em;
}

.imgmiperfil {
  width: 10em;
  height: 10em;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  background-color: mintcream;
}

nav {
  background-color: #a81e19;
  display: grid;
  top: 0;
  position: fixed;
  z-index: 4;
  border: 0;
  width: 100%;
  grid-template-columns: 1fr repeat(3, 1fr) 1fr;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-ps {
  display: flex;
}
.nav-ps .menu-logo {
  margin: 1em 1em;
}

nav > .nav-ps > ul > li {
  float: left;
}
nav > .nav-ps > ul > li:hover div.navbarsubmenu {
  display: table;
}

nav ul li a {
  text-decoration: none;
  color: #009846;
  display: block;
  padding: 10px 20px 10px 20px;
  transition: all 500ms ease-out;
}
nav ul li a:hover {
  background: #f1e0e0;
  color: #a81e19;
}

nav ul li div.navbarsubmenu {
  width: 100%;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  display: none;
  background-color: #f5efef;
}
nav ul li div.navbarsubmenu ul {
  width: 25%;
  display: table-cell;
  border-right: 1px solid #ecd0d1;
  box-sizing: border-box;
}
nav ul li div.navbarsubmenu ul:last-child {
  border: none;
}
nav ul li div.navbarsubmenu ul .navmenutitulo {
  color: #383434;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
}
nav ul li div.navbarsubmenu ul .navmenutitulo:hover {
  background: none;
}

.nav-ss {
  grid-column: 5/2;
  display: flex;
  justify-content: flex-end;
}
.nav-ss img {
  margin: 1em 0.5em;
}
.nav-ss #buscador {
  border-radius: 20px/13px;
  margin: 2em 0;
  width: 100%;
}

.nav-ts {
  grid-column: 5/6;
  display: flex;
  justify-content: flex-end;
}
.nav-ts .registrarse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 1em;
}
.nav-ts .registrarse #btn-registro {
  background-color: #a81e19;
  border-color: #a81e19;
  border-radius: 10%;
  padding: 1em 1em;
}
.nav-ts .registrarse #btn-registro:hover {
  background-color: #c7270b;
  color: whitesmoke;
  transition: all 0.3s ease-out;
}
.nav-ts .iniciar-sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 1em;
  transition: all 0.1s ease-out;
}
.nav-ts .iniciar-sesion #btn-loggin {
  background-color: #a81e19;
  border-color: #a81e19;
  border-radius: 10%;
  padding: 1em 1em;
}
.nav-ts .iniciar-sesion #btn-loggin:hover {
  background-color: #c7270b;
  color: whitesmoke;
  transition: all 0.3s ease-out;
}

.containerbody {
  margin-top: 8em;
}

.home-seccion {
  height: 30em;
  background-color: #f1e0e0;
}

.titulos-home {
  padding: 1em 0 2em 0;
  text-align: center;
  font-family: cursive;
}

.home-categorias {
  display: flex;
  width: 100%;
  height: 6em;
  justify-content: space-around;
  align-items: center;
}

.categorias {
  display: flex;
  flex-direction: column;
  font-family: Verdana;
  align-items: center;
  cursor: pointer;
}

.seccion {
  display: flex;
  justify-content: space-around;
}

.receta-ficha {
  display: flex;
}
.receta-ficha figure {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.receta-ficha figure img {
  transition: all 500ms ease-out;
}
.receta-ficha figure .hoverreceta {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 251, 0.6);
  width: 100%;
  height: 40%;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.receta-ficha figure .hoverreceta .hovertiempo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ecd0d1;
}
.receta-ficha figure .hoverreceta .hoverdificultad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.receta-ficha figure .hoverreceta .hoverprecio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.receta-ficha figure.imgreceta-ficha:hover > .hoverreceta {
  opacity: 1;
  visibility: visible;
}

footer {
  width: 100%;
  height: 20em;
  background-color: #a81e19;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redessociales {
  display: flex;
  justify-content: space-around;
  margin: 1em 4em;
}

.loggin {
  margin: 1em 0 2em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.formulario-logear {
  display: flex;
  flex-direction: column;
}

.logginlabel {
  font-family: sans-serif;
}

.loggininput {
  border: solid 1px #009846;
  border-radius: 5%/95%;
  width: 100%;
  height: 1.7em;
  margin: 0 0 1em 0;
}

.titulo {
  color: #009846;
}

.recetaintro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 1em 0;
  background-color: white;
}

.recetamultimedia {
  display: grid;
  margin: 0 0 0 7em;
  grid-template-areas: "nombre nombre nombre" "tiempo dificultad favoritos" "porciones precio estrellas" ". agregar .";
  width: 100vh;
  height: 10em;
}

.recetanombre {
  grid-area: nombre;
  align-self: center;
  justify-self: center;
}

.recetatiempo {
  grid-area: tiempo;
  align-self: center;
  justify-self: center;
}

.recetadificultad {
  grid-area: dificultad;
  align-self: center;
  justify-self: center;
}

.recetafavoritos {
  grid-area: favoritos;
  align-self: center;
  justify-self: center;
}

.recetaporciones {
  grid-area: porciones;
  align-self: center;
  justify-self: center;
}

.recetaprecio {
  grid-area: precio;
  align-self: center;
  justify-self: center;
}

.recetaestrellas {
  grid-area: estrellas;
  align-self: center;
  justify-self: center;
}

.recetaagregar {
  grid-area: agregar;
  align-self: center;
  justify-self: center;
}

.btnagregar {
  padding: 0.5em 0.6em 0.5em 0.6em;
  color: #0099CC;
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px;
}
.btnagregar:hover {
  background-color: #0099CC;
  color: white;
}

.receta {
  display: grid;
  grid-template-areas: "ingredientes ingredientes infonut";
  background-color: white;
}

.ingredientes {
  grid-area: ingredientes;
  display: flex;
  margin: 1em 0 1em 0;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 5em;
}
.ingredientes ul > li {
  padding: 0.4em 0 0.2em 0;
}

.informacion-nutrimental {
  grid-area: infonut;
  display: flex;
  margin: 1em 0 1em 0;
  flex-direction: column;
  padding: 0px 0 0 5em;
  align-self: center;
}
.informacion-nutrimental div {
  padding: 0.5em 0 0.5em 0;
}

.preparacion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1em 0 1em 0;
  padding: 1em 0 2em 5em;
  background-color: white;
}
.preparacion h1 {
  padding: 0 0 1.5em 0;
}
.preparacion p {
  padding: 0 0 1em 0;
}

.miinformacionnutrimental {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0 1em 0;
  padding: 1em 0 2em 5em;
  background-color: white;
}

.mismacros {
  display: flex;
  justify-content: center;
  margin: 0 0 2em 0;
}
.mismacros .miscaltotales {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mismacros .miscaltotales p {
  padding: 1em 0 0 0;
}
.mismacros .misproteinastotales {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mismacros .misproteinastotales p {
  padding: 1em 0 0 0;
}
.mismacros .miscarbohidratostotales {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mismacros .miscarbohidratostotales p {
  padding: 1em 0 0 0;
}
.mismacros .misgrasastotales {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mismacros .misgrasastotales p {
  padding: 1em 0 0 0;
}

.perfil {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.mifotoperfil {
  grid-column: 1/2;
  justify-self: center;
}

.mismacros {
  grid-column: 2/4;
}

.perfilopciones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.loggin {
  margin: 1em 0 2em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.formulario-logear {
  display: flex;
  flex-direction: column;
}

.logginlabel {
  font-family: sans-serif;
}

.loggininput {
  border: solid 1px #009846;
  border-radius: 5%/95%;
  width: 100%;
  height: 1.7em;
  margin: 0 0 1em 0;
}

/*# sourceMappingURL=styles.css.map */
